# How to Sort Pivot Table by the Margin All in Pandas

In [2]:
import pandas as pd
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [3]:
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [8]:
df.pivot_table(index='foo', columns='bar', values='baz', aggfunc=['sum'], margins=True)

    sum
bar   A  B  C All
foo
one   1  2  3   6
two   4  5  6  15
All   5  7  9  21